name: Generate demo GIF

on:
    push:
        paths-ignore:
            - "assets/demo.gif"
    workflow_dispatch:

jobs:
    generate-gif:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Create assets folder
              run: mkdir -p assets

            - name: Generate GIF
              uses: PabloLec/website-to-gif@2.1.5
              with:
                  url: "https://codeine200.github.io/pc-shop/"
                  save_path: "assets"
                  file_name: "demo"
                  file_format: "gif"
                  final_width: 400
                  final_height: 300
                  scroll_step: 20
                  time_per_frame: 100

            - name: Debug assets folder
              run: |
                  echo "Listing assets folder"
                  ls -l assets
                  echo "Listing recursively"
                  ls -lR assets

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: demo-gif
                  path: assets/demo.gif/demo.gif
            
            - name: Commit GIF
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "github-actions[bot]@users.noreply.github.com"
                  
                  # Проверяем, существует ли файл
                  if [ -f assets/demo.gif/demo.gif ]; then
                    git add assets/demo.gif/demo.gif
                  
                    # Проверяем изменения
                    if git diff --cached --quiet; then
                      echo "No changes to commit"
                      exit 0
                    fi
                  
                    git commit -m "Update demo GIF"
                    git push
                  else
                    echo "GIF not found, skipping commit"
                    exit 0
