name: Generate demo GIF

on:
    workflow_dispatch:   # Можно запускать вручную
    push:
        paths-ignore:
            - "assets/*"     # Игнорируем GIF, чтобы не зациклиться

jobs:
    generate-gif:
        runs-on: ubuntu-latest

        steps:
            # 1️⃣ Клонируем репозиторий
            - uses: actions/checkout@v3

            # 2️⃣ Создаём папку assets
            - name: Create assets folder
              run: mkdir -p assets

            # 3️⃣ Генерируем GIF
            - name: Generate GIF
              uses: PabloLec/website-to-gif@2.1.5
              with:
                  url: "https://codeine200.github.io/pc-shop/"
                  save_path: "assets"
                  file_name: "demo"
                  file_format: "gif"
                  final_width: 400
                  final_height: 300
                  scroll_step: 20
                  time_per_frame: 100
                  window_width: 1280
                  window_height: 800

            # 4️⃣ Находим все GIF в runner
            - name: Find GIF files
              run: |
                  echo "Searching for GIFs..."
                  find . -type f -name "*.gif"

            # 5️⃣ Загружаем все найденные GIF как артефакт
            - name: Upload all GIFs as artifact
              uses: actions/upload-artifact@v4
              with:
                  name: demo-gif
                  path: '**/*.gif'
