name: Generate demo file

on:
    push:
        paths-ignore:
            - "**/*.gif"

jobs:
    generate-gif:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Website to file
              uses: PabloLec/website-to-gif@2.1.5
              with:
                    url: "https://codeine200.github.io/pc-shop/"
                    save_path: "assets"
                    file_name: "demo"
                    file_format: "gif"
                    window_width: 1280
                    window_height: 800
                    final_width: 400
                    final_height: 300
                    scroll_step: 15
                    time_per_frame: 80

            - name: Commit GIF
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "github-actions[bot]@users.noreply.github.com"
                  
                  git add assets/demo.gif
                  
                  if git diff --cached --quiet; then
                    echo "No changes to commit"
                    exit 0
                  fi
                  
                  git commit -m "Update demo gif"
                  git push

